{% extends "base.html" %}
{% block header %}
{% include 'head.html' with customer='active' %}
{% endblock %}
{% block content %}
<ul class="breadcrumb">
	<li>
		<a href="{% url home %}">Home</a> <span class="divider">/</span>
	</li>
	<li class="active">Customers</li>
</ul>
<div class="page-header">
	<h2>Customers</h2>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Company</th>
			<th>Telephone</th>
			<th>Fax</th>
			<th>Nature Of Business</th>
			<th>Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for customer in costumers %}
		<tr>
			<td>{{ customer.id }}</td>
			<td>{{ customer.company_name }}</td>
			<td>{{ customer.telephone }}</td>
			<td>{{ customer.fax }}</td>
			<td>{{ customer.business_nature.name}}</td>
			<td>{{ customer.created }}</td>
			<td>
				<div class="btn-group">
					<button class="btn btn-mini">Actions</button>
					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li><a href="#">Edit</a></li>
						<li><a href="#">Contacts</a></li>
			        </ul>
			    </div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="8">No customer</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}