{% extends "base.html" %}
{% block header %}
{% include 'head.html' with customer='active' %}
{% endblock %}
{% block content %}
<h1>Vendors</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Company</th>
			<th>Address1</th>
			<th>Address2</th>
			<th>City/Municipality</th>
			<th>State/Region/Province</th>
			<th>Country</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock %}